* {
    box-sizing: border-box;
}

/* #clr {
    position: relative;
    margin: 5px;
    --clr-width-size: 200px;
    --clr-font-size: calc(var(--clr-width-size)/10);
} */

.clr-calendar__context {
    /* width: var(--clr-width-size);
    font-size: var(--clr-font-size); */
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 0 0 4px rgba(21,21,21,.21);
    user-select: none;
}

.clr-calendar__year {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    font-size: 0.8em;
}

.clr-calendar__year>div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.clr-calendar__year>span {
    text-align: center;
    flex: 1;
    line-height: 12px;
    font-weight: 600;
    align-content: center;
    font-size: 0.8em;
}

.clr-calendar__month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 2px;
    font-size: var(--clr-font-size);
}


.clr-calendar__month>div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.clr-calendar__month>span {
    text-align: center;
    flex: 1;
    line-height: 20px;
    font-weight: 600;
    align-content: center;
    font-size: 0.8em;
}

.clr-calendar__week {
    background-color: #997abb;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.5em;
}

.clr-calendar__week>span {
    flex: 1;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    border: 1px solid rgba(5, 10, 12, 0.2);
}

.clr-calendar__day {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: calc(var(--clr-width-size)/7*6 - 30px);
    cursor: pointer;
    font-size: 0.5em;
}

.clr-calendar__day_row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.clr-calendar__day_label {
    flex: 1;
    background-color: white;
    cursor: default;
    padding: 2px 2px;
    display: flex;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
}

.clr-calendar__day_label.clrlib-day-diluted>span {
    flex: 1;
    background-color: antiquewhite;
    cursor: pointer;
    padding: 2px 2px;
    display: flex;
    color: gray;
    font-size: 0.9em;
}


.clr-calendar__day_label.clrlib-day-diluted>span:hover {
    color: blue;
    box-shadow: 2px 2px 2px rgba(21, 21, 21, .6), -2px -2px 2px rgba(21, 21, 21, 0.3);
}

.clr-calendar__day_num {
    user-select: none;
    cursor: pointer;
    font-size: 0.9em;
}

.clr-calendar__day_num.selected {
    color: crimson;
    font-weight: 800;
}

.clr-calendar__day_num.today::before {
    content: 'today';
    color: brown;
    font-style: italic;
    font-size: 0.7em;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: calc(var(--clr-width-size)/(21*3));
}


.clr-calendar__day_num.selected::after {
    content: "â­";
    display: inline-block;
    position: absolute;
    top: calc(var(--clr-width-size)/21);
    left: calc(var(--clr-width-size)/21);
    animation: swallow 0.2s linear;
}

@keyframes swallow {
    0%, 100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }
}

.tp-wrapper {
    font-size: 0.8em;
}

.tp-context {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    min-height: calc(var(--clr-width-size)/7*2);
    --selector-width: calc(var(--clr-width-size)/14);
}

.tp-line-container {
    width: 100%;
    padding: 5px calc(var(--selector-width)/2 - 5px);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tp-selector {
    position: absolute;
    width: calc(var(--selector-width));
    height: calc(100% - 2px);
    position: absolute;
    left: 0px;
    border: 1px solid black;
    border-radius: 10%;
    background-color: #11e6e0;
    opacity: 0.5;
}

.tp-lines {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* line style */
.line {
    width: 10px;
    max-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line .shape {
    width: 4px;
    height: 16px;
    background-color: black;
}

.line span {
    font-size: xx-small;
}
/* line style */


.tp-display {
    width: 50%;
    background-color: blue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.tp-AmPm {
    width: calc(50% - 10px);
    background-color: #fbf4ba;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
}

.time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.time-wrapper>div>span:nth-child(2) {
    font-size: x-small;
    color: brown;
    background-color: aqua;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-left: 2px;
}

.amOrpm {
    width: 40%;
}

.date-check {
    width: 40%;
}

.tp-btn {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9em;
}

.date-check>div:nth-child(2)>i {
    text-decoration: underline blue 1px;
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
}

.date-check>div:nth-child(2):hover {
    text-decoration: underline blue 2px;
    color: palevioletred;
    font-weight: 400 ;
}


.tp-btn >button {
    width: 80%;
    background-color: #efe4e4;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.4) 0px 1px 2px,
     rgba(0,0,0,0.3) 0px 4px 5px -1px,
    rgba(0,0,0,0.2) 0px -1px 0px 0px inset;
    cursor: pointer;
    font-size: 0.6em;
}

.tp-btn >button:hover {
    color: rgba(0,0,0,0.5);
    transition: all 0.8s ease;
}

.tp-btn >button:active {
    box-shadow: rgba(0,0,0,0.8) 2px 2px 2px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 3px 1px inset;
    font-style: italic;
}